<!-- List View -->
<div class="listView">
  <i class="ion-trash-a deleteButton" ng-click="delete()">Delete</i>
  <table class="list">
    <tr>
      <th width="5%">Select</th>
      <th width="10%">First Name</th>
      <th width="10%">Last Name</th>
      <th width="20%">Email</th>
      <th width="10%">Phone Number</th>
      <th width="10%">Status</th>
      <th width="10%">Activate/Deactive</th>
    </tr>
    <tr ng-repeat="contact in contacts" ng-style="style($index)">
      <td width="5%"><input type="checkbox" ng-model="contact.delete"></td>
      <td width="10%">{{contact.firstName}}</td>
      <td width="10%">{{contact.lastName}}</td>
      <td width="20%">{{contact.email}}</td>
      <td width="10%">{{contact.phoneNumber}}</td>
      <td width="10%">{{contact.status}}</td>
      <td width="10%"><button ng-click="activate(contact)">Activate/Deactivate</button></td>
    </tr>
  </table>
</div>
