.top {
  padding-top: 5px;
}

.title {
  display: inline-block;
  padding-left: 30px;
}

.nav {
  display: inline-block;
  float: right;
  padding-top: 20px;
  margin-right: 20px;
}

i {
  padding-right: 10px;
}

i:hover {
  cursor: pointer;
}

.tableView, .listView, .detailView {
  padding: 0px 30px 0px 30px;
}

.tableView .listView{
  overflow-x: auto;
  width: 90%;
}

.contact:hover {
  cursor: pointer;
}

.mainTable {
  width: 30%;
}

.textbox {
  padding: 2px 10px;
  background-color: lightgrey;
}

.list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.list td, .list th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}

.list tr:nth-child(even){background-color: #f2f2f2;}

.list tr:hover {background-color: #ddd;}

.list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.deleteButton {
  font-size: 25px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  width: 90%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#back {
  margin: 10px;
  width: 100px;
  color: purple;
  background-color: white;
}

#save{
  margin: 10px;
  width: 100px;
  background-color: purple;
  color: white;
}
